body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

body > table {
    width: 100%;
}

.device-name {
    font-weight: bold;
    font-size: 1.2em;
}

.state-button {
    display: block;
    width: 100%;

    border: 1px solid #333;
    border-radius: 3px;
    background: #eee;
    font-size: 9pt;

    text-transform: uppercase;

    padding: .6em;
}

.state-button.active {
    font-weight: bold;
    background: #090;
    color: white;
}
.closed-button.active {
    background: #900;
    color: white;
}